<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.mapper.BlogMapper">
  <resultMap id="BaseResultMap" type="com.cookie.pojo.Blog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appreciation" jdbcType="BIT" property="appreciation" />
    <result column="commentabled" jdbcType="BIT" property="commentabled" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="first_picture" jdbcType="VARCHAR" property="firstPicture" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="published" jdbcType="BIT" property="published" />
    <result column="recommend" jdbcType="BIT" property="recommend" />
    <result column="share_statement" jdbcType="BIT" property="shareStatement" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cookie.pojo.Blog">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appreciation, commentabled, create_time, description, first_picture, flag, published, 
    recommend, share_statement, title, update_time, views, type_id, user_id
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_blog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_blog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cookie.pojo.Blog">
    insert into t_blog (id, appreciation, commentabled, 
      create_time, description, first_picture, 
      flag, published, recommend, 
      share_statement, title, update_time, 
      views, type_id, user_id, 
      content)
    values (#{id,jdbcType=BIGINT}, #{appreciation,jdbcType=BIT}, #{commentabled,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{firstPicture,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR}, #{published,jdbcType=BIT}, #{recommend,jdbcType=BIT}, 
      #{shareStatement,jdbcType=BIT}, #{title,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{views,jdbcType=INTEGER}, #{typeId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cookie.pojo.Blog" useGeneratedKeys="true" keyProperty="id">
    insert into t_blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appreciation != null">
        appreciation,
      </if>
      <if test="commentabled != null">
        commentabled,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="firstPicture != null">
        first_picture,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="published != null">
        published,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
      <if test="shareStatement != null">
        share_statement,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="views != null">
        views,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appreciation != null">
        #{appreciation,jdbcType=BIT},
      </if>
      <if test="commentabled != null">
        #{commentabled,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="firstPicture != null">
        #{firstPicture,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="published != null">
        #{published,jdbcType=BIT},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=BIT},
      </if>
      <if test="shareStatement != null">
        #{shareStatement,jdbcType=BIT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="views != null">
        #{views,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cookie.pojo.Blog">
    update t_blog
    <set>
      <if test="appreciation != null">
        appreciation = #{appreciation,jdbcType=BIT},
      </if>
      <if test="commentabled != null">
        commentabled = #{commentabled,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="firstPicture != null">
        first_picture = #{firstPicture,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="published != null">
        published = #{published,jdbcType=BIT},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=BIT},
      </if>
      <if test="shareStatement != null">
        share_statement = #{shareStatement,jdbcType=BIT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="views != null">
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cookie.pojo.Blog">
    update t_blog
    set appreciation = #{appreciation,jdbcType=BIT},
      commentabled = #{commentabled,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      first_picture = #{firstPicture,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      published = #{published,jdbcType=BIT},
      recommend = #{recommend,jdbcType=BIT},
      share_statement = #{shareStatement,jdbcType=BIT},
      title = #{title,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      views = #{views,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cookie.pojo.Blog">
    update t_blog
    set appreciation = #{appreciation,jdbcType=BIT},
      commentabled = #{commentabled,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      first_picture = #{firstPicture,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      published = #{published,jdbcType=BIT},
      recommend = #{recommend,jdbcType=BIT},
      share_statement = #{shareStatement,jdbcType=BIT},
      title = #{title,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      views = #{views,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectAlljustBlog" resultType="com.cookie.pojo.Blog">
        select * from t_blog
    </select>
  
  <select id="selectAll" resultMap="Blog_type">
    select b.id id ,b.published,b.recommend,b.title,b.update_time,t.name name
    from t_blog b,t_type t
    where b.type_id = t.id
  </select>
  
  <resultMap id="Blog_type" type="com.cookie.pojo.Blog">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="appreciation" jdbcType="BIT" property="appreciation" />
      <result column="commentabled" jdbcType="BIT" property="commentabled" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="description" jdbcType="VARCHAR" property="description" />
      <result column="first_picture" jdbcType="VARCHAR" property="firstPicture" />
      <result column="flag" jdbcType="VARCHAR" property="flag" />
      <result column="published" jdbcType="BIT" property="published" />
      <result column="recommend" jdbcType="BIT" property="recommend" />
      <result column="share_statement" jdbcType="BIT" property="shareStatement" />
      <result column="title" jdbcType="VARCHAR" property="title" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="views" jdbcType="INTEGER" property="views" />
      <result column="type_id" jdbcType="BIGINT" property="typeId" />
      <result column="user_id" jdbcType="BIGINT" property="userId" />
      <association property="type" javaType="com.cookie.pojo.Type">
          <id column="id" jdbcType="BIGINT" property="id" />
          <result column="name" jdbcType="VARCHAR" property="name" />
      </association>
  </resultMap>

    <select id="selectBlogTypeUser" resultMap="Blog_type_user">
       SELECT b.id,b.title,b.description,u.avatar,u.nickname,b.update_time,b.views,t.name,b.first_picture,b.flag,b.content
        from t_blog b,t_user u,t_type t
        WHERE b.user_id=u.id
        and b.type_id=t.id
  </select>

    <select id="selectBlogTypeUserLikeTitle" resultMap="Blog_type_user">
       SELECT b.id,b.title,b.description,u.avatar,u.nickname,b.update_time,b.views,t.name,b.first_picture,b.flag,b.content
        from t_blog b,t_user u,t_type t
        WHERE b.user_id=u.id
        and b.type_id=t.id
        and b.title like #{s}
  </select>

    <select id="selectBlogTypeUserByTypeId" resultMap="Blog_type_user">
       SELECT b.id,b.title,b.description,u.avatar,u.nickname,b.update_time,b.views,t.name,b.first_picture,b.flag,b.content
        from t_blog b,t_user u,t_type t
        WHERE b.user_id=u.id
        and b.type_id=t.id
        and t.id=#{id}
  </select>

    <select id="selectBlogTypeUserByTagId" resultMap="Blog_type_user">
       SELECT b.id,b.title,b.description,u.avatar,u.nickname,b.update_time,b.views,t.name,b.first_picture,b.flag,b.content
        from t_blog b,t_user u,t_type t
        WHERE b.user_id=u.id
        and b.type_id=t.id
        and b.id
		in (SELECT blogs_id from t_blog_tags where tags_id=#{id})
  </select>


    <resultMap id="Blog_type_user" type="com.cookie.pojo.Blog">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="appreciation" jdbcType="BIT" property="appreciation" />
        <result column="commentabled" jdbcType="BIT" property="commentabled" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="first_picture" jdbcType="VARCHAR" property="firstPicture" />
        <result column="flag" jdbcType="VARCHAR" property="flag" />
        <result column="published" jdbcType="BIT" property="published" />
        <result column="recommend" jdbcType="BIT" property="recommend" />
        <result column="share_statement" jdbcType="BIT" property="shareStatement" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="views" jdbcType="INTEGER" property="views" />
        <result column="type_id" jdbcType="BIGINT" property="typeId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <association property="type" javaType="com.cookie.pojo.Type">
            <id column="id" jdbcType="BIGINT" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
        </association>
        <association property="user" javaType="com.cookie.pojo.User">
            <id column="id" jdbcType="BIGINT" property="id" />
            <result column="avatar" jdbcType="VARCHAR" property="avatar" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="email" jdbcType="VARCHAR" property="email" />
            <result column="nickname" jdbcType="VARCHAR" property="nickname" />
            <result column="password" jdbcType="VARCHAR" property="password" />
            <result column="type" jdbcType="INTEGER" property="type" />
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="username" jdbcType="VARCHAR" property="username" />
        </association>
    </resultMap>

    <select id="lastNewRecoment" resultMap="BaseResultMap">
        select title
        from t_blog
        order by update_time desc
    </select>


    <select id="selectBlogUserByBlogId" resultMap="ResultBlog_userOBs">
       SELECT b.id,b.title,b.description,u.avatar,u.nickname,b.update_time,b.views,t.name,b.first_picture,b.flag,b.content
        from t_blog b,t_user u,t_type t
        WHERE b.user_id=u.id
        and b.type_id=t.id
        and b.id=#{id}
  </select>

    <resultMap id="Blog_user" type="com.cookie.pojo.Blog">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="appreciation" jdbcType="BIT" property="appreciation" />
        <result column="commentabled" jdbcType="BIT" property="commentabled" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="first_picture" jdbcType="VARCHAR" property="firstPicture" />
        <result column="flag" jdbcType="VARCHAR" property="flag" />
        <result column="published" jdbcType="BIT" property="published" />
        <result column="recommend" jdbcType="BIT" property="recommend" />
        <result column="share_statement" jdbcType="BIT" property="shareStatement" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="views" jdbcType="INTEGER" property="views" />
        <result column="type_id" jdbcType="BIGINT" property="typeId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <association property="user" javaType="com.cookie.pojo.User">
            <id column="id" jdbcType="BIGINT" property="id" />
            <result column="avatar" jdbcType="VARCHAR" property="avatar" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="email" jdbcType="VARCHAR" property="email" />
            <result column="nickname" jdbcType="VARCHAR" property="nickname" />
            <result column="password" jdbcType="VARCHAR" property="password" />
            <result column="type" jdbcType="INTEGER" property="type" />
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="username" jdbcType="VARCHAR" property="username" />
        </association>
    </resultMap>

    <resultMap extends="Blog_user" id="ResultBlog_userOBs" type="com.cookie.pojo.Blog">
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
    </resultMap>

    <update id="updateViews" >
        update t_blog
        set views = views+1
        where id = #{id}
    </update>

    <select id="countBlog" resultType="int" >
        select count(id) from t_blog
    </select>


</mapper>